@font-face {
  font-family: "Roboto-bold";
  src: url("../webfonts/Roboto-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Medium";
  src: url("../webfonts/Roboto-Medium.ttf") format("truetype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto-Medium";
  height: 100%;
  width: 100%;
  text-align: left;
  color: #185a70;
  text-transform: capitalize !important;
}

.btn-success {
  background: #006241;
  border: none;
}
a:hover {
  text-decoration: none;
  cursor: pointer;
}
button {
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  /* box-shadow: 0 0 1px rgba(0, 0, 0, 0); */
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}

p {
  margin-bottom: 0;
  padding: 10px;
}
select {
  background-color: transparent !important;
  width: 100%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.p-0 {
  padding: 0;
}
.p-x-165 {
  padding-left: 165px;
  padding-right: 165px;
}
.mt-6 {
  margin-top: 30px;
}
.mt-56 {
  margin-top: 56px;
}
.bg-gray {
  background-color: #daedf4 !important;
  color: #0a3442 !important;
}
img {
  max-width: 100%;
}
.input-group.with-icon > input::-ms-clear {
  display: none;
}

.input-group.with-icon > i {
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  pointer-events: none;
  position: absolute;
  z-index: 3;
  top: 50%;
}
.input-group.with-icon.icon-left > i {
  left: 0.3rem;
}
.input-group.with-icon.icon-left > input {
  padding-left: 1.7rem;
}

/*=====================  Style for Banner  ==============================*/
section.banner {
  position: relative;
  width: 100%;
  background-image: url("../imgs/banner_bg.png");
  height: 130vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
section.banner.no-image {
  background-image: none;
  height: 100%;
}
section.banner.limousine-bg {
  background-image: url("../imgs/limousine-icons/limousine-banner.jpg");
}
.corporate-banner {
  position: relative;
  width: 100%;
  background-image: url("../imgs/corporate/Coporate-car-rental.png");
  height: 370px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.partner-bg {
  position: relative;
  width: 100%;
  background-image: url("../imgs/partners/partner-bg.png");
  height: 370px;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: center; */
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.join-team-bg {
  background-image: url("../imgs/join_us_bg.png");
}
.bg-color {
  background-image: none;
  background-color: #daedf4 !important;
  height: 250px;
  align-items: center;
}
.list-car {
  background-image: url("../imgs/list-car/List-Your-Car-Now.png");
}
.small-txt {
  background-color: #0a3442;
  color: #fff;
  margin-bottom: 32px;
  border-radius: 30px;
  padding: 17px;
  font-size: 19px;
  width: 30%;
  text-transform: capitalize;
}
.demo a {
  position: absolute;
  bottom: 90px;
  right: 40px;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #244f58;
  font: normal 400 16px/1 sans-serif;
  letter-spacing: 0.1em;
  text-decoration: none;
  transition: opacity 0.3s;
}
.demo a:hover {
  opacity: 0.5;
}

#section10 a {
  padding-top: 60px;
}
#section10 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 30px;
  height: 50px;
  margin-left: -15px;
  border: 2px solid #255059;
  border-radius: 50px;
  box-sizing: border-box;
}
#section10 a span::before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: "";
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #255059;
  border-radius: 100%;
  -webkit-animation: sdb10 2s infinite;
  animation: sdb10 2s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb10 {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb10 {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.font-70 {
  font-size: 70px;
}
.primary-color {
  color: #0a3442;
}
/*===================== #End Style for Banner  ==============================*/

/*==================== style for Header ==============*/
header {
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
  display: flex;
  align-self: center;
  justify-content: space-between;
}
header .head-links a {
  color: #0b3543;
  text-transform: capitalize;
  padding-top: 8px;
}
header .head-links a:first-of-type {
  margin-right: 25px;
}
header .head-links a:last-of-type {
  margin-left: 25px;
}
header .head-links a:hover,
header .head-links a:active,
header .head-links a:focus,
header .head-links a:focus {
  border-top: 2px solid #fcb040;
}

header .lang-selector {
  color: #0b3543;
}
header .lang-selector button {
  background-color: transparent;
  border: none;
  padding: 0 16px;
}
header .lang-selector button:first-of-type {
  border-right: 1px solid #0b3543;
}
header .lang-selector button:last-of-type {
  padding-right: 0;
}
/*==================== #End style for Header ==============*/

/*==================== style for Navbar ==============*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}
nav .nav-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
nav .nav-logo img {
  height: 70px;
  object-fit: cover;
}
.nav-logo span {
  font-size: 10px;
  color: #0b3543;
  display: none;
}
nav .nav-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .nav-links .menu-btn {
  background-color: transparent;
  border: none;
  text-transform: capitalize;
  color: #0b3543;
  display: flex;
  align-items: center;
  padding: 0 10px;
  border-right: 1px solid #0b3543;
}
nav .nav-links .menu-btn img {
  width: 22px;
  margin-right: 10px;
}
nav .nav-links a {
  padding: 0 10px;
  color: #0b3543;
}
.group-btns {
  display: flex;
}
.group-btns.mobile-show {
  display: none;
}

.group-btns a {
  padding: 10px 16px !important;
  border-radius: 20px;
  width: 180px;
  text-align: center;
}
.group-btns .rental-btn {
  background-color: #fcb040;
  color: #fff;
  border: none;
  margin-right: 15px;
}
.group-btns .rental-btn:hover,
.group-btns .rental-btn:focus,
.group-btns .rental-btn:active {
  background-color: #fff;
  color: #fcb040;
  border: 1px solid #fcb040;
}
.group-btns .long-rental {
  border: 1px solid #9fa9ab;
  background-color: #fff;
}
.group-btns .long-rental:hover,
.group-btns .long-rental:focus,
.group-btns .long-rental:active {
  color: #fff;
  background-color: #9fa9ab;
}
.w-100 {
  max-width: 100%;
}
.h-100 {
  height: 100vh;
}
.menu-comprased {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.menu-comprased .modal-dialog {
  max-width: 100%;
  margin: 0;
}
.menu-comprased .modal-content {
  border: none;
  border-radius: 0;
}
.menu-comprased .modal-header {
  border-bottom: none;
  justify-content: flex-end;
  padding: 30px;
}
.menu-comprased .modal-header span {
  font-size: 55px;
}
.menu-comprased.main-menu ul li {
  margin: 16px auto;
}
.menu-comprased ul li a {
  color: #185a70;
  text-transform: capitalize;
}
.menu-comprased ul li a:hover {
  color: #fcb040;
}
.menu-comprased h3 {
  font-weight: bold;
  text-transform: capitalize;
}
.menu-comprased p,
.menu-comprased span {
  text-transform: capitalize;
  padding: 10px 0;
}
/*==================== #End style for Navbar ==============*/

/*=====================  Style for Rent Form  ==============================*/
.rent-form {
  background-color: #fff;
  width: 82.3%;
  margin: 55px auto;
  padding: 20px 10px 10px 70px;
  color: #0b3543;
  position: relative;
}
.locations-result {
  margin-top: 16px;
}
.locations-result h3 {
  color: #fcb040;
}
.locations-result ul {
  padding-left: 10px;
  margin-top: 20px;
}
.locations-result ul li {
  margin-top: 16px;
}
.locations-result a {
  color: #0a3442;
  display: flex;
  align-items: flex-start;
}
.locations-result a:hover {
  color: #185a70;
}
.locations-result a .info {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}
label {
  font-size: 11px;
  margin-bottom: 0;
}
input,
select {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #0b3543;
  font-size: 12px;
  color: #0a3442;
}
[type="date"] {
  background: #fff url("../imgs/calendar-icon.png") no-repeat;
  padding-top: 6px;
  padding-bottom: 6px;
  background-position: right;
  background-size: 18px 18px;
}
[type="date"]::-webkit-inner-spin-button {
  display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}
.date-box {
  position: relative;
  margin: 0 10px;
  text-align: left;
}
.date-box input {
  width: 100%;
  min-height: 33px;
}
.date-box::after {
  content: "\f073";
  font-family: "Font Awesome 5 Free";
  color: #0b3543;
  position: absolute;
  right: 0;
  top: 50%;
  z-index: 1;
  text-align: center;
  pointer-events: none;
  box-sizing: border-box;
  font-weight: 900;
}
.date-box.time-box::after {
  content: "\f017";
}
input:focus,
select:focus {
  outline: none;
  border-bottom: 1px solid #0b3543;
  box-shadow: none;
}
.form-control:focus {
  outline: none;
  border-bottom: 1px solid #0b3543;
  box-shadow: none;
}
.rent-form .date label {
  display: block;
}
.rent-form select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
  border: none;
  border-bottom: 1px solid #0b3543;
  padding-top: 0;
  padding-bottom: 0;
  height: 33px;
  border-radius: 0;
}
.location {
  display: flex;
  flex-direction: column;
}
.location .label-location {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4px;
  padding-top: 4px;
  flex-wrap: wrap;
}
.location .select-drop {
  position: relative;
}
.location .select-drop::after {
  content: "\f3c5";
  font-family: "Font Awesome 5 Free";
  color: #0b3543;
  position: absolute;
  right: 0;
  top: 30%;
  z-index: 1;
  text-align: center;
  pointer-events: none;
  box-sizing: border-box;
  font-weight: 900;
}
.find-cars {
  background-color: #0b3543;
  color: #fff;
  padding: 10px 16px;
  border-radius: 20px;
  width: 150px;
  margin-top: 18px;
  text-transform: capitalize;
}
.filter-btn {
  background: #fff;
  color: #0b3543;
  border: 1px solid #0b3543;
  width: 90px;
  font-size: 26px;
  padding: 4px;
  margin-left: 10px;
}
.find-cars:hover,
.find-cars:focus,
.find-cars:active {
  background-color: #185a70;
  color: white;
}
.filter-box {
  background-color: #d9f0f8;
  position: absolute;
  top: 0;
  right: 0;
  width: 235px;
  z-index: 999;
  padding: 10px;
  height: auto;
}
.box-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.filter-box .card {
  background-color: transparent;
  border: none;
  color: #0a3442;
}
.filter-items .card-header {
  background-color: transparent;
  border: none;
  padding: 0 5px;
}
.filter-items .btn-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: #0b3543;
}
.filter-items button.btn.btn-link.collapsed i {
  transform: rotate(180deg);
}
.filter-items .btn-link {
  outline: none;
  box-shadow: none;
}
.filter-items .radio-item {
  background-color: transparent;
}
.range-slider {
  width: 150px;
  margin: 0 auto;
  position: relative;
  height: 3em;
  text-align: left;
  margin-bottom: 30px;
}
.range-slider span {
  display: flex;
  width: 100%;
}
.range-slider svg,
.range-slider input[type="range"] {
  position: absolute;
  left: 0;
  bottom: 0;
}
.left-70px {
  left: 70px;
  color: #0a3442;
}

input[type="number"] {
  text-align: center;
  -moz-appearance: textfield;
  position: absolute;
  bottom: -31px;
  font-size: 16px;
  border: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"]:invalid,
input[type="number"]:out-of-range {
  border: 2px solid #0a3442;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #0a3442;
}

input[type="range"]:focus::-ms-fill-lower {
  background: #fff;
}

input[type="range"]:focus::-ms-fill-upper {
  background: #fff;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: #fcb040;
  border-radius: 1px;
  box-shadow: none;
  border: 0;
}

input[type="range"]::-webkit-slider-thumb {
  z-index: 2;
  position: relative;
  box-shadow: 0px 0px 0px #000;
  border: 1px solid #fff;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #fcb040;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: #0a3442;
  border-radius: 1px;
  box-shadow: none;
  border: 0;
}

input[type="range"]::-moz-range-thumb {
  z-index: 2;
  position: relative;
  box-shadow: 0px 0px 0px #000;
  border: 1px solid #0a3442;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #fcb040;
  cursor: pointer;
}

input[type="range"]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type="range"]::-ms-fill-lower,
input[type="range"]::-ms-fill-upper {
  background: #0a3442;
  border-radius: 1px;
  box-shadow: none;
  border: 0;
}

input[type="range"]::-ms-thumb {
  z-index: 2;
  position: relative;
  box-shadow: 0px 0px 0px #000;
  border: 1px solid #0a3442;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #fcb040;
  cursor: pointer;
}
.filter-items select {
  border: 1px solid #0a3442;
  border-radius: 10px;
  padding: 0 10px;
  color: #0b3543;
  appearance: auto;
}
/*===================== #End Style for  Rent Form   ==============================*/
/*=====================  Style for offers   ==============================*/
.offers h2 {
  color: #185a70;
  text-transform: capitalize;
}
.offers .info {
  color: #185a70;
  font-size: 30px;
  font-weight: 100;
  margin-top: 50px;
}
.offers .info span {
  text-transform: capitalize;
}
.offers .info h4 {
  color: #fcb040;
  text-transform: capitalize;
  font-size: 38px;
}
.offers .info h4:last-of-type {
  text-transform: uppercase;
}
.offers .info small {
  text-transform: capitalize;
}
.offer {
  position: relative;
  height: 270px;
  margin: 10px auto;
  background-color: rgba(22, 89, 112, 0.3686274509803922);
}
.offer::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #0b3543;
  opacity: 0.5;
}
.offer:hover:before {
  opacity: 0.2;
  cursor: pointer;
}
.offer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.offer .discount {
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  background: #185a70;
  color: #fcb040;
  width: 100px;
  padding: 16px 0;
}
.offer .discount span:first-of-type {
  display: block;
  text-transform: capitalize;
}
.offer .discount span:last-of-type {
}
.offer .price {
  position: absolute;
  bottom: 16px;
  left: 25px;
  color: #fff;
}
.offer .price span:first-of-type {
  display: block;
}
.offer .price span:last-of-type {
  text-decoration: line-through;
}
/*===================== #End Style for  offers    ==============================*/
/*=====================  Style for  Limousine Car    ==============================*/
.limousine-car {
  padding-top: 100px;
  padding-bottom: 100px;
}
.limousine-car h2 {
  color: #0a3442;
  text-transform: capitalize;
  text-align: center;
}
.limousine-car p {
  color: #0a3442;
  width: 65%;
  margin: 5px auto;
  text-align: center;
}
.limousine-car .limousine-features {
}
.limousine-car .limousine-features .features-box {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 60px 0;
}
.limousine-car .limousine-features .feature {
  position: relative;
  border: 1px solid #daedf4;
  display: flex;
  height: 200px;
  width: 280px;
  align-items: center;
  margin: 30px 25px;
}
.limousine-car .limousine-features .feature .feature-icon {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  position: absolute;
  top: -42px;
  right: 20px;
  padding: 10px;
}
.limousine-car .limousine-features .feature .feature-icon img {
  width: 100%;
}
.limousine-car .limousine-features .feature span {
  color: #0a3442;
  text-transform: capitalize;
  padding: 0 25px;
  font-size: 25px;
}
.limousine-car .limousine-features button {
  background-color: #0a3442;
  color: #fff;
  text-transform: capitalize;
  border-radius: 20px;
  padding: 9px 16px;
  font-weight: normal;
  width: 50%;
  margin: 0 100px;
}
/*===================== #End Style for  Limousine Car    ==============================*/
/*===================== Start Style for  Rent  Car Now    ==============================*/
.rent-now {
  background-color: #0a3442;
  color: #fff;
  position: relative;
  /* min-height: 760px; */
}
.rent-now .img-box {
  position: absolute;
  right: 0;
  top: 0;
  /* height: 815px; */
  width: 100%;
}
.rent-now .img-box img {
  /* height: 100%; */
  /* width: 100%; */
  object-fit: cover;
}
.rent-now h2 {
  padding: 25px;
}
.rent-now ul#pills-tab {
  margin-left: 5px;
  margin-top: 50px;
}
.rent-now ul#pills-tab li {
  padding: 7px;
}
.rent-now ul#pills-tab li a {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
.rent-now ul#pills-tab li span:first-of-type {
  background-color: #0a3442;
  color: #6d868d;
  border-radius: 10px;
  box-shadow: 1px 2px 18px #67868d;
  width: 40px;
  text-align: center;
  height: 40px;
  line-height: 40px;
}
.rent-now ul#pills-tab li span:last-of-type {
  color: #6d868d;
  text-align: center;
  margin: 10px 0;
  text-transform: capitalize;
}
.rent-now .nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: transparent;
}
.rent-now ul#pills-tab li.active span:first-of-type {
  background-color: #fcb040 !important;
  color: #fff;
  width: 50px !important;
  height: 50px !important;
  line-height: 50px !important;
}
.rent-now ul#pills-tab li.active span:last-of-type {
  color: #fff !important;
}
.rent-now .tab-content {
  margin-left: 30px;
}
.rent-now ul#pills-tab li:hover span:first-of-type {
  background-color: #fcb040 !important;
  color: #fff;
  width: 50px !important;
  height: 50px !important;
  line-height: 50px !important;
}

.styled-checkbox {
  position: absolute;
  opacity: 0;
}
.styled-checkbox + label {
  position: relative;
  cursor: pointer;
  padding: 0;
  text-transform: capitalize;
  font-size: 16px;
}
.styled-checkbox + label:before {
  content: "";
  margin-right: 10px;
  display: inline-block;
  vertical-align: text-top;
  width: 20px;
  height: 20px;
  border: 1px solid #f8fdff;
  margin-top: 5px;
}
.styled-checkbox:hover + label:before {
  background: #fcb040;
}
.styled-checkbox:focus + label:before {
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
}
.styled-checkbox:checked + label:before {
  background: #fcb040;
}
.styled-checkbox:disabled + label {
  color: #b8b8b8;
  cursor: auto;
}
.styled-checkbox:disabled + label:before {
  box-shadow: none;
  background: #ddd;
}
.styled-checkbox:checked + label:after {
  content: "";
  position: absolute;
  left: 5px;
  top: 14px;
  background: white;
  width: 2px;
  height: 2px;
  box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white,
    4px -6px 0 white, 4px -8px 0 white;
  transform: rotate(45deg);
}

.rent-now .tab-content li {
  margin: 50px 0;
}

.rent-now button {
  background-color: #fcb040;
  border-radius: 25px;
  text-transform: capitalize;
  width: 35%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 25px auto;
  color: #fff;
  font-size: 18px;
  border: none;
}
.bg-gray.rent-now ul#pills-tab li span:first-of-type {
  background-color: #86a1ac;
  color: #fff;
}
.bg-gray.rent-now .nav-pills .nav-link.active span:first-of-type {
  background-color: #fcb040;
  color: #0a3442;
}
/*===================== #End Style for Rent  Car Now   ==============================*/
/*=====================  Style for  Corporate Car    ==============================*/
.corporate-car {
  margin-top: 100px;
  margin-bottom: 100px;
}
.corporate-car .corporate {
  background-image: url("../imgs/corporate-car-bg.png");
  background-size: cover;
  min-height: 660px;
  background-repeat: no-repeat;
  position: relative;
}
.corporate-car .corporate .info {
  position: absolute;
  color: #fff;
  left: 0;
  top: 0%;
  display: flex;
  flex-direction: column;
  text-transform: capitalize;
  align-items: flex-start;
  height: 100%;
  text-align: left;
  width: 100%;
  bottom: 0;
}
.corporate-car .corporate .info h4 {
  width: 100%;
  text-align: center;
  font-size: 30px;
  margin-top: 30px;
}
.corporate-car .corporate .info p:first-of-type {
  padding: 0;
  padding-top: 10px;
  text-align: left;
  width: 40%; /* font-size: 25px; */
  margin: 0 auto;
}
.corporate-car .corporate .info p:first-of-type strong {
  color: #fcb040;
  display: block;
  font-size: 25px;
}
.corporate-car .corporate .info p:last-of-type {
  padding: 0;
  width: 30%;
  text-align: left;
  font-weight: bold;
  margin-left: 30%;
}
.corporate-car .corporate .info p:last-of-type small {
}
.corporate-car .corporate .info button {
  width: 55%;
  background: #fcb040;
  border-radius: 32px;
  color: #fff;
  margin: 0 auto;
  text-transform: capitalize;
  font-weight: normal;
  padding: 4px 51px;
  margin-bottom: 20px;
}

.corporate-car .corporate .tabs {
  position: absolute;
  top: 21%;
  right: -160px;
}
.corporate-car .corporate .tabs .left-part li:first-of-type .number {
  right: -28px;
  left: unset;
}

.corporate-car .corporate .tabs .right-part li:first-of-type .number {
  right: -28px;
  left: unset;
}
.corporate-car .corporate .tabs ul {
  display: flex;
  justify-content: space-between;
  width: 900px;
}
.corporate-car .corporate .tabs ul li {
  background-color: #0a3442;
  margin: 16px 35px;
  display: flex;
  border-radius: 10px;
  position: relative;
  padding: 16px 38px;
}
.corporate-car .corporate .tabs ul li span {
  color: #fff;
  text-transform: capitalize;
}
.corporate-car .corporate .tabs ul li .number {
  color: #fcb040;
  width: 40px;
  text-align: center;
  border-top: 1px dashed #fcb040;
  border-right: 1px dashed #fcb040;
  border-bottom: 1px solid #fcb040;
  border-left: 1px solid #fcb040;
  height: 40px;
  position: absolute;
  left: -28px;
  top: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.corporate-car .corporate .tabs .number::before {
  content: "";
  width: 15px;
  height: 1px;
  position: absolute;
  top: 20px;
  background-color: #fcb040;
  right: -15px;
}
.corporate-car .corporate .tabs .left-part li:first-of-type .number::before {
  left: -15px;
  right: unset;
}
.corporate-car .corporate .tabs .right-part li:first-of-type .number::before {
  left: -15px;
  right: unset;
}
.corporate-car .corporate .tabs ul li .number small {
  background-color: #fff;
  font-size: 16px;
  padding: 1px 7px;
  border-radius: 5px;
}
/*===================== #End Style for Corporate Car     ==============================*/

/*=====================  Style for  Earn Money    ==============================*/
.earn-money {
  background-color: #f8fdff;
  padding-top: 55px;
  padding-bottom: 55px;
}
.earn-money p {
  color: #0a3442;
  font-size: 23px;
  font-weight: bold;
  text-transform: capitalize;
}
.earn-money p strong {
  color: #fcb040;
  font-size: 30px;
  font-weight: bolder;
}
.earn-money button {
  background-color: #fcb040;
  border-radius: 25px;
  text-transform: capitalize;
  width: 90%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 25px auto;
  color: #fff;
  font-size: 18px;
  border: none;
}
.earn-money button:hover,
.earn-money button:focus,
.earn-money button:active {
  background-color: #fff;
  color: #fcb040;
  border: 1px solid #fcb040;
}
/*===================== #End Style for  Earn Money    ==============================*/
/*=====================  Style for  Customer feedback   ==============================*/
.customer-feedback {
  padding-top: 55px;
}
.customer-feedback h2 {
  text-align: center;
  text-transform: capitalize;
  color: #185a70;
  margin-bottom: 80px;
}
.customer-feedback p {
  text-transform: capitalize;
  font-size: 28px;
  color: #185a70;
}
.customer-feedback p strong {
  color: #fcb040;
  display: block;
  text-transform: capitalize;
  font-size: 36px;
}
.customer-feedback .customer-review {
  display: flex;
  flex-direction: column;
}
.customer-feedback .customer-review li {
  display: flex;
  padding: 10px;
  background: red;
  align-items: center;
  border-radius: 5px;
  margin: 5px 0;
  padding-top: 16px;
  padding-bottom: 16px;
}
.customer-feedback .customer-review li:nth-child(odd) {
  background-color: #e9eef1;
  color: #185a70;
}
.customer-feedback .customer-review li:nth-child(even) {
  background: #0b3543;
  color: #fff;
  margin-left: -71px;
}
.customer-feedback .customer-review img {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  margin: 0 30px;
}
.customer-feedback .customer-review span {
  text-transform: capitalize;
}
/*===================== #End Style for Customer feedback    ==============================*/
/*===================== StartStyle for Corporate Packages   ==============================*/
.packages {
  margin-top: 60px;
  margin-bottom: 30px;
  position: relative;
}
.with-img::after {
  content: "";
  background-image: url("../imgs/long-term/log-bg.png");
  height: 100%;
  position: absolute;
  top: -19px;
  left: -310px;
  width: 735px;
  background-repeat: no-repeat;
  z-index: -1;
}
.packages h2 {
  text-transform: capitalize;
  color: #0a3442;
}
.packages .packages-box {
  display: flex;
  align-items: center;
  margin: 10px auto;
  flex-wrap: wrap;
  z-index: 5;
  position: relative;
  width: 95%;
}
.packages-box .item {
  border: 1px solid #ddecf1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-width: 343px;
  padding: 20px 0;
  color: #0a3442;
  margin: 20px 0;
  background: #fff;
}
.packages-box .item:nth-of-type(2) {
  background-color: #0a3442;
  color: #fff;
  border-color: #0a3442;
  box-shadow: 1px 10px 10px #6c929f;
  border-radius: 10px;
}
.packages-box .item h5 {
  text-transform: capitalize;
  margin-bottom: 16px;
}
.packages-box .item .icon-item {
  width: 200px;
  height: 150px;
}
.packages-box .item .icon-item img {
}
.packages-box .item .price-info {
  text-transform: capitalize;
}
.packages-box .item .price-info p {
  padding: 0;
}
.packages-box .item .price-info strong {
  font-size: 30px;
}
.packages-box .item .price-info small {
}
.packages-box .item ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 2px 75px;
}
.packages-box .item ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 7px 0;
}
.item .choose-package {
  background-color: #fcb040;
  color: #fff;
  text-transform: capitalize;
  padding: 8px 16px;
  font-size: 24px;
  width: 80%;
  border-radius: 25px;
}
/*===================== #End Style for Corporate Packages   ==============================*/
/*===================== Stat Style for  Requirements Corporate   ==============================*/
.requirements-co {
  background-image: url("../imgs/corporate/corporate-form.jpg");
  background-size: cover;
  min-height: 900px;
  padding-top: 70px;
  color: #fff;
  background-position: center;
}
.list-car-form {
  background-image: url("../imgs/list-car/List-Your-Car-form.png");
}
.requirements-co h3 {
  text-transform: capitalize;
  color: #fff;
  margin-left: 20px;
}
.requirements-co li {
  margin: 16px auto;
}
.form input,
.form select,
.form select:focus,
.form input:focus {
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff;
  padding-left: 0;
  box-shadow: none;
}
.form input::placeholder {
  color: #daedf4;
}

.requirements-co button.send-btn {
  background-color: #fcb040;
  color: #fff;
  margin: 16px auto;
  border-radius: 25px;
  text-transform: capitalize;
  padding: 8px 16px;
  width: 100%;
}
.custom_radio {
  display: flex;
  justify-content: space-between;
}
.radio-item input[type="radio"] {
  display: none;
}
.radio-item input[type="radio"] + label {
  position: relative;
  display: inline-block;
  padding-left: 2.5em;
  margin-right: 2em;
  cursor: pointer;
  line-height: 1em;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #0a3442;
}
.radio-item input[type="radio"] + label:before,
.radio-item input[type="radio"] + label:after {
  content: "";
  position: absolute;
  top: -6px;
  left: -6px;
  width: 2em;
  height: 2em;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.radio-item input[type="radio"] + label:before {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  box-shadow: inset 0 0 0 0.2em #fcb040, inset 0 0 0 1em #ffffff;
}
.radio-item input[type="radio"] + label:hover:before {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  box-shadow: inset 0 0 0 0.3em #fcb040, inset 0 0 0 1em #6d868d;
}
.radio-item input[type="radio"]:checked + label:before {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  box-shadow: inset 0 0 0 0.2em #fcb040, inset 0 0 0 0.7em #0a3442;
}
.radio-item {
  background-color: #fff;
  margin: 0 5px;
  border-radius: 10px;
  display: flex;
  padding: 10px;
}
/*===================== #End Style for  Requirements Corporate   ==============================*/
/*===================== Stat Style for  Rental Benefits   ==============================*/
/*===================== #End Style for  Rental Benefits   ==============================*/
/*===================== Stat Style for  Partners   ==============================*/
.partners {
  margin-top: 60px;
  margin-bottom: 30px;
}
.partners h3 {
  color: #0a3442;
  text-transform: capitalize;
  text-align: center;
  margin: 50px auto;
}
.partners img {
  filter: grayscale();
  width: 100px;
  margin: 18px auto;
}
.partners img:hover {
  filter: none;
}
/*===================== #End Style for  Partners   ==============================*/
/*===================== Start Style for  List Your Car   ==============================*/

.list-car-form .multiselect-native-select {
  position: relative;
}
.list-car-form .multiselect-native-select select {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px -1px -1px -3px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  left: 50%;
  top: 30px;
}
.list-car-form .multiselect-container {
  position: absolute;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  width: 99%;
  left: 0.5% !important;
  background: #e9eef1;
  color: #0b3543;
}
.list-car-form .multiselect-container a {
  color: #0b3543;
}
.list-car-form .multiselect.dropdown-toggle.btn.btn-default {
  border-bottom: 1px solid #fff;
  color: #fff;
  text-align: left;
  padding-left: 0;
}
.list-car-form .dropdown-toggle::after {
  display: none;
}
.list-car-form .dropdown-toggle::before {
  content: "\f078";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 1em;
  text-align: center;
}
.list-car-form .multiselect-container .input-group {
  margin: 5px;
}
.list-car-form .multiselect-container li {
  padding: 0;
}
.list-car-form .multiselect-container li .multiselect-all label {
  font-weight: 700;
}
.list-car-form .multiselect-container li a {
  padding: 0;
}
.list-car-form .multiselect-container li a label {
  margin: 0;
  height: 100%;
  cursor: pointer;
  font-weight: 400;
  padding: 3px 20px 3px 40px;
}
.list-car-form .multiselect-container li a label input[type="checkbox"] {
  margin-bottom: 5px;
}
.list-car-form .multiselect-container li a label.radio {
  margin: 0;
}
.list-car-form .multiselect-container li a label.checkbox {
  margin: 0;
}
.list-car-form .multiselect-container li.multiselect-group label {
  margin: 0;
  padding: 3px 20px 3px 20px;
  height: 100%;
  font-weight: 700;
}
.list-car-form .multiselect-container li.multiselect-group-clickable label {
  cursor: pointer;
}
.list-car-form .form-inline .multiselect-container label.checkbox {
  padding: 3px 20px 3px 40px;
}
.list-car-form .form-inline .multiselect-container label.radio {
  padding: 3px 20px 3px 40px;
}
.list-car-form
  .form-inline
  .multiselect-container
  li
  a
  label.checkbox
  input[type="checkbox"] {
  margin-left: -20px;
  margin-right: 0;
}
.list-car-form
  .form-inline
  .multiselect-container
  li
  a
  label.radio
  input[type="radio"] {
  margin-left: -20px;
  margin-right: 0;
}
/*===================== #End Style for  List Your Car   ==============================*/

/*======================= Style for footer==========================*/
footer {
  background-color: #0b3543;
  color: #fff;
  padding-top: 40px;
  padding-bottom: 20px;
  margin-top: 100px;
}
footer .footer-logo {
  height: 70px;
}
footer .nav-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .nav-logo span {
  color: #fff;
  padding-top: 5px;
  font-size: 11px;
}
footer .social-links {
  display: flex;
  align-self: center;
  justify-content: space-between;
  margin: 40px 12px;
  flex-wrap: wrap;
}
footer .social-links li {
  background-color: #fff;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  line-height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px 5px;
}
footer .social-links li a {
  font-size: 18px;
  color: #fcb040;
}
footer .copy-rights {
  text-transform: capitalize;
}
footer h4 {
  color: #fff;
  letter-spacing: 1px;
  text-align: left;
  font-size: 1rem;
  font-weight: bold;
  padding-bottom: 10px;
  padding-top: 16px;
}
footer .about-links li {
  margin: 8px auto;
}
footer .about-links li a {
  color: rgb(250, 249, 249);
  text-transform: capitalize;
  font-size: 12px;
}
.btn-subscribe {
  background-color: #6c929f;
  color: #fff;
  left: -117px;
  font-weight: normal;
  z-index: 9999 !important;
}
.payment {
  margin-top: 50px;
  display: flex;
  text-transform: capitalize;
}
.payment img {
  width: 100px;
  margin: 0 19px;
  background: #fff;
  height: 50px;
  object-fit: cover;
}
/*======================= #End Style for footer==========================*/

/******************** Sign In style **********************/
.sign-in {
  color: #185a70;
  padding-bottom: 20px;
}
.sign-in input {
  width: 100%;
  margin-top: 24px;
  padding-left: 29px;
  padding-bottom: 6px;
}
.sign-in label {
  text-transform: capitalize;
  font-size: 17px;
  font-weight: bold;
}
.sign-in form {
  padding-top: 50px;
}
.sign-in .forget-pass {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sign-in .check-remember {
  display: flex;
  align-items: center;
}
.sign-in .check-remember input {
  width: auto;
  margin: 0 5px;
}
.sign-in-btn {
  background-color: #fcb040;
  color: #fff;
  width: 100%;
  margin: 20px auto;
  border-radius: 20px;
  text-transform: capitalize;
}
.sign-in p {
  display: inline;
}
.sign-in a {
  color: #185a70;
  text-transform: capitalize;
  padding: 0 5px;
  text-decoration: underline;
}
.sign-img {
}
.sign-in .form-group {
  position: relative;
  margin-top: 30px;
}
.sign-in .form-group i {
  position: absolute;
  left: 0;
  top: 50px;
}

.custom-check {
  margin: 20px;
}

/* VISUALLY HIDE THE ORIGINAL CHECKBOX/RADIOBUTTON */
.custom-check input[type="checkbox"] {
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  position: absolute;
}

.custom-check-elem,
.custom-check-label {
  cursor: pointer;
  vertical-align: middle;
}

/* CUSTOM CHECKBOX */
.custom-check-elem {
  display: inline-block;
  position: relative;
  margin-right: 4px;
  border: 2px solid #185a70;
  width: 20px;
  height: 20px;
  background: #185a70;
  color: #fff;
  border-radius: 4px;
}

/* CUSTOM CHECKBOX/RADIOBUTTON CHECK */
.custom-check-elem:before {
  content: "\f00c";
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 1em;
  line-height: 1em;
  text-align: center;
}

/* PSEUDO ELMENT CONTENT FOR CHECKED STATE */
.custom-check-input:checked + .custom-check-elem:before {
  display: block;
}
.custom-check-input.checked + .custom-check-elem:before {
  display: block;
}

/************** mission and vision style**************/
.vision-mission {
  margin-top: 50px;
}
.fleet_header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 45px;
  line-height: 1em;
  text-align: center;
  color: #0b3543;
}
.fleet_content {
  color: #185a70;
  font-size: 0.8em;
  padding-left: 0;
}
.right_fleet_header {
  font-weight: 900;
  font-size: 30px;
  line-height: 1em;
  color: #fcb040;
  padding-bottom: 5px;
  margin-top: 30px;
}
.right_fleet_content {
  color: #185a70;
  font-size: 0.8em;
  padding: 0px;
}
.focus_right_fleet_content {
  color: #203c47;
  font-size: 1em;
  font-weight: "bold";
}
.right_description_fleet_content {
  color: #185a70;
  font-size: 0.8em;
  padding: 26px 15px;
  background-color: #daedf4;
  border-radius: 15px 0px 15px 0px;
  margin: 16px 0;
}
.fleet_icons_container {
  display: flex;
  align-items: center;
  margin: 8px 0;
}
.fleet-icons {
  display: flex;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
}

.fleet-icons li {
  display: flex;
  align-items: center;
  width: 230px;
  margin: 20px 0;
}
.fleet_icon {
  background: #daedf4;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 10px;
}
.fleet_icon img {
  height: 30px;
}
.icon_right_fleet_content {
  font-size: 13px;
}
.fleet-icons li i {
  color: #185a70;
}
.fleet-icons li .number {
  font-size: 18px;
  margin: 0 16px;
  color: #185a70;
}
/***************************************** view  **********************************/
.view_title {
  text-align: left;
  color: #185a70;
  font-weight: 900;
  font-size: 1.2em;
  line-height: 1em;
  padding: 20px 0px;
}
.join-form {
  margin: 0 auto;
  background: #fff;
  margin-top: -100px;
  padding: 60px;
  border-radius: 10px;
  border: 1px solid #a9b2b4;
}
.join-form h3 {
  text-align: center;
  margin-bottom: 20px;
}
.join-form .join-btn {
  background-color: #0b3543;
  color: #fff;
  border-radius: 20px;
  width: 100%;
  text-transform: capitalize;
  margin: 20px auto;
}
.join-form input,
.join-form select {
  border-bottom: 1px solid #185a70;
  color: #185a70;
}
.join-form input::placeholder {
  color: #185a70;
}
.join-form .custom-file-label {
  border: none;
  border-bottom: 1px solid #0b3543;
  height: 40px;
}

.join-form .custom-file-label::after {
  content: "Upload" !important;
  padding: 7px 16px;
  background-color: #b0ced9;
  border-radius: 3px;
  font-size: 16px;
  top: 0;
}
.join-form .form input,
.join-form .form select,
.join-form .form select:focus,
.join-form .form input:focus {
  color: #0b3543;
  border-color: #0b3543;
}
/***************************************** Our team style ********************************************* */

.our-team {
  margin-top: 100px;
}
.our-team h2 {
  margin-bottom: 30px;
}
.our-team .card {
  border: none;
}
.our-team .card-body {
  padding-left: 0;
  padding-bottom: 0;
}
.our-team p {
  padding-left: 0;
}
.our-team .card-title {
  color: #fcb040;
  font-weight: 900;
  font-size: 1em;
  line-height: 1em;
}

/*****************************************  Blog details style ********************************************* */
.our-blog {
  margin-top: 50px;
}
.our-blog p {
  padding-left: 0;
}
.blog-details h5,
.blog-details h1 {
  color: #185a70;
  margin: 5px 0;
}
.blog-details p {
  text-align: left;
}
.blog-details ul {
  display: flex;
}
.blog-details ul li {
  margin: 16px;
}
.blog-details ul li a {
  color: #fcb040;
}
.blog-details ul li a i {
  padding-right: 5px;
}
.blog-details ul li:first-of-type {
  margin-left: 0;
}

/************************************ custom carousel-indicators style **********************************************/
.car-item {
  border: 1px solid #c3ced5;
  padding-top: 20px;
  padding-left: 5px;
  padding-right: 5px;
  margin: 50px 0;
}
.car-item-img {
  margin: 0 auto;
  margin-bottom: 16px;
  display: block;
  width: 100%;
  padding: 0 40px;
}
.carousel-indicators {
  bottom: 0px;
  margin-left: 0;
  left: 10%;
  width: 80%;
  right: unset;
  margin-right: 0;
}
.carousel-indicators li {
  border-radius: 50%;
  height: 10px;
  width: 10px;
  border: none;
  background: #0b3543;
  margin: 0 10px;
}
.car-item .description {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}
.title-des {
  border-bottom: 1px solid #c1d0d6;
}
.title-des h4 {
  color: #0b3543;
  text-transform: capitalize;
  font-weight: bold;
}
.title-des span {
  font-weight: normal;
  font-size: 19px;
}
.title-des p {
  padding: 5px 0;
  text-transform: capitalize;
}
.car-item .description button {
  background-color: transparent;
  border: none;
  text-transform: capitalize;
  color: #ccced5;
  font-weight: normal;
}
.car-item .list-seats {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.car-item .list-seats li {
  display: flex;
  align-items: center;
  margin: 16px 0;
}
.car-item .list-seats li .icon {
  width: 70px;
  height: 70px;
  background: #e2eaed;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.car-item .list-seats li span {
  padding: 0 16px;
  text-transform: capitalize;
  color: #0b3543;
}
.car-item .list-seats li span i {
  padding: 0 8px;
}

.car-item .pay-des {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  border-left: 1px solid #bdd2e1;
  margin-bottom: 16px;
}
@media (max-width: 991px) {
  .car-item .pay-des {
    border-left: none;
  }
}
.car-item .pay-des .total-price {
  font-size: 30px;
  text-align: center;
}
.car-item .pay-des .total-price span {
  text-transform: capitalize;
}
.car-item .pay-des .total-price span:first-of-type {
  color: #fcb040;
  display: block;
  text-align: center;
  text-transform: uppercase;
}
.car-item .pay-des .total-price span:nth-of-type(2) {
}
.car-item .pay-des button {
  background: #fcb040;
  width: 80%;
  margin: 20px auto;
  border-radius: 20px;
  padding: 10px 0;
  font-size: 24px;
  text-transform: capitalize;
  color: #fff;
  outline: none;
  box-shadow: none;
  border: none;
}
.car-item .pay-des button:hover {
  background-color: #fff;
  color: #fcb040;
  border: 1px solid #fcb040;
}
.notification {
  background-color: #daedf4;
  padding: 16px 50px;
  font-size: 20px;
  border: 1px solid #0b3543;
  border-radius: 5px;
  text-transform: capitalize;
  margin-bottom: 50px;
}
.notification span {
  font-size: 25px;
  font-weight: bold;
}
.notification i {
  margin: 0 16px;
  transform: rotate(90deg);
}
.pickup {
  text-transform: capitalize;
}
.pickup label {
  display: block;
  font-size: 20px;
  position: relative;
}
.pickup label::after {
  content: "\f00c";
  font-family: "Font Awesome 5 Free";
  color: #0b3543;
  position: absolute;
  left: -35px;
  top: 0;
  z-index: 999;
  font-weight: 900;
}
.pickup small {
  display: block;
}
.pickup select {
  width: 45%;
  margin-top: 30px;
  text-transform: capitalize;
}
.pickup select:first-of-type {
  margin-right: 5px;
}
.pickup select:last-of-type {
  margin-left: 5px;
}
.pickup-divid {
  width: 100%;
  margin-left: -20%;
  background: #bdced8;
  margin-top: 20px;
  margin-bottom: 20px;
}
.protect-title {
  text-transform: capitalize;
  margin: 30px 0;
  color: #185a70;
}
.extras-box {
  border: 1px solid #aab9c2;
  padding: 25px 16px;
  margin: 16px 0;
}
.extras-box h5 {
  text-transform: capitalize;
  color: #185a70;
}
.extras-box ul {
}
.extras-box li {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.extras-box .radio-item input[type="radio"]:checked + label:before,
.filter-box .radio-item input[type="radio"]:checked + label:before {
  box-shadow: inset 0 0 0 0.6em #0a3442, inset 0 0 0 1em #fff;
}

.extras-box select {
  text-transform: capitalize;
  width: 100%;
  margin-top: 16px;
}
.box-checkout {
  background-color: #d9f0f8;
  min-height: 700px;
  padding-top: 40px;
}
.box-checkout .box1 {
  background-color: #0a3442;
  color: #fff;
  width: 112%;
  margin-left: -6%;
  padding: 0px 16px;
  position: relative;
  text-transform: capitalize;
  text-align: left;
  padding-left: 80px;
  margin-bottom: 30px;
}
.box-checkout .box1::after {
  position: absolute;
  content: "";
  left: 0px;
  bottom: -26px;
  width: 0;
  height: 0;
  border-left: 22px solid transparent;
  border-right: 0px solid transparent;
  border-top: 26px solid #0a3442;
}
.box-checkout .box1::before {
  position: absolute;
  content: "";
  right: 0px;
  bottom: -26px;
  width: 0;
  height: 0;
  border-left: 0 solid transparent;
  border-right: 22px solid transparent;
  border-top: 26px solid #0a3442;
}
.box1 p {
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 5px 0;
}

.box1 p span {
  text-transform: capitalize;
  font-size: 13px;
}
.border-botm {
  border-bottom: 1px solid #9fa9ab;
}
.check-item {
  text-transform: capitalize;
  width: 68%;
  margin: 0 auto;
  margin-top: 30px;
}
.check-item h6 {
  border-bottom: 1px solid #9fa9ab;
  width: 65%;
  padding-bottom: 10px;
  margin-bottom: 35px;
}
.check-view {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5px;
}
.p-r {
  padding-right: 20px;
}
.with-arrow {
  position: relative;
  font-size: 35px;
  padding-left: 30px;
}
.with-arrow::before {
  content: "\f060";
  font-family: "Font Awesome 5 Free";
  color: #0b3543;
  position: absolute;
  left: -20px;
  top: 7%;
  z-index: 999;
  font-weight: 900;
}
.with-close {
  position: relative;
  font-size: 10px;
}

.with-close::before {
  content: "\f00d";
  font-family: "Font Awesome 5 Free";
  color: #0b3543;
  position: absolute;
  right: -20px;
  top: 0;
  z-index: 999;
  font-weight: 900;
}
.with-check {
  position: relative;
  font-size: 13px;
  padding-left: 16px;
}
.with-check::before {
  content: "\f00c";
  font-family: "Font Awesome 5 Free";
  color: #0b3543;
  position: absolute;
  left: -1px;
  top: 0;
  z-index: 999;
  font-weight: 900;
}
.check-item p {
  font-size: 14px;
}
.check-item p strong {
}
.check-item button {
  width: 100%;
  margin: 10px 0;
  border-radius: 20px;
  border: none;
  padding: 10px 0;
  text-transform: capitalize;
  color: #0a3442;
}
.check-item .check-btn {
  color: #fff;
  background: #fcb040;
}
.check-item .promo-btn {
  background: #fff;
}
.check-item label {
  margin-left: 10px;
  text-transform: capitalize;
}
.pay-icon {
  width: 100px;
  height: 80px;
  border: 1px solid #0b3543;
  border-radius: 5px;
}
.input-box label {
  display: block;
  text-transform: capitalize;
  margin-bottom: 16px;
  font-size: 18px;
}
.input-box input {
  width: 100%;
}

.confirm-bg {
  background-image: url("../imgs/confirmation-bg.png");
  height: 250px;
  background-position: center;
  /* background-size: contain; */
  background-repeat: no-repeat;
  margin-left: 50px;
}
.pleft-4 {
  padding-left: 4rem;
}
.name-with-info {
  margin-bottom: 50px;
}
.name-with-info h3 {
  margin-top: 30px;
  font-size: 35px;
  color: #fcb040;
}
.name-with-info p {
  padding-left: 0;
}
.name-with-info p strong {
  display: block;
  padding: 16px 0;
}
.confirm-tab .row button {
  color: #fcb040;
  border: 1px solid #fcb040;
}
.confirm-tab table {
  color: #0b3543;
}
.text-pragraph {
  max-height: 300px;
  overflow-y: auto;
  margin: 20px 0;
}
/* width */
.text-pragraph::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.text-pragraph::-webkit-scrollbar-track {
  background: #daedf4;
  border-radius: 30px;
}

/* Handle */
.text-pragraph::-webkit-scrollbar-thumb {
  background: #67868d;
  border-radius: 10px;
}

/* Handle on hover */
.text-pragraph::-webkit-scrollbar-thumb:hover {
  background: #0a3442;
}

.styled-checkbox.condition-check:hover + label:before {
  background: #0a3442;
}

.styled-checkbox.condition-check:checked + label:before {
  background: #0a3442;
}

.styled-checkbox.condition-check + label:before {
  border: 1px solid #daedf4;
  border-radius: 5px;
}
.btn-agree {
  background-color: #daedf4;
  text-transform: capitalize;
  color: #0a3442;
  margin-top: 30px;
  padding: 8px 16px;
  border-radius: 20px;
}
@media (max-width: 512px) {
  .wizard > div.wizard-inner {
    display: none;
  }
  .car-item {
    padding: 16px;
  }
  .car-item .pay-des {
    border-left: none;
  }
}
/************************************ Get In Touch style **********************************************/
.get-in-touch {
  margin-top: 30px;
}
.get-touch-info {
  position: relative;
  border: 1px solid #e1ebed;
  padding: 16px;
  margin-top: 65px;
  border-radius: 10px;
}
.get-touch-info .title-with-icon {
  position: absolute;
  top: -27px;
  left: 28px;
  font-size: 30px;
  background: #fff;
  z-index: 999;
  padding: 0px 10px 0px 6px;
  display: flex;
}
.get-touch-info .title-with-icon .icon {
  margin-right: 15px;
  background: #f2f9ff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  border: 3px solid #fdfdff;
  padding: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.get-touch-info ul {
  margin-top: 30px;
  padding-left: 16px;
  width: 75%;
}
.get-touch-info ul li {
  margin: 31px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/*=====================  Style FAQS section  ==============================*/
.faqs {
  margin-top: 40px;
}
.faqs .tab-content {
  margin-top: 30px;
}
.add-question {
  background-color: #0a3442;
  border-radius: 15px;
  color: #fff;
  text-transform: capitalize;
}
.faqs-info {
  margin-top: 70px;
}
.faqs-info ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.faqs-info ul li {
  width: 266px;
  border: 1px solid #daedf4;
  min-height: 150px;
  margin: 16px auto;
}
.faqs-info ul li a {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.faqs-info .faqs-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.faqs-item .faqs-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #daedf4;
  padding: 16px;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  border: 10px solid #eef5fb;
  box-shadow: inset 0 0 12px #b2ccd5;
}
.faqs-icon svg {
  width: 60px;
  height: 60px;
  fill: #0a3442;
}
.faqs-item h4 {
  margin-top: 16px;
  color: #0a3442;
  font-size: 16px;
}
.faqs-info ul li a.active {
  background-color: #0a3442 !important;
}
.faqs-info ul li a.active::after {
  content: "";
  position: absolute;
  left: 45%;
  bottom: -19px;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 20px solid #0b3543;
}
.active .faqs-item .faqs-icon {
  background: #fcb040;
  border-color: #5e664f;
  box-shadow: unset;
}
.active .faqs-icon svg {
  fill: #fff;
}
.active .faqs-item h4 {
  color: #fff;
}
.faqs .accordion button {
  position: relative;
  color: #0b3543;
  background-color: #daedf4;
}
.faqs .accordion button:hover {
  text-decoration: none;
}

.faqs .accordion button::after {
  content: "\f056";
  font-family: "Font Awesome 5 Free";
  color: #0a3442;
  position: absolute;
  right: 10px;
  top: 5px;
  z-index: 1;
  text-align: center;
  pointer-events: none;
  box-sizing: border-box;
  font-weight: 900;
  font-size: 20px;
}
.faqs .accordion button.collapsed::after {
  content: "\f055";
}
.faqs .card {
  margin: 16px auto;
  border: none;
}
.faqs .card-header {
  padding: 0;
}
/*=========================Style for media queries  ============================*/
/* small devices (portrait phones, less than 375px)*/
@media (min-width: 320px) {
}

/* small devices (portrait phones, less than 375px)*/
@media (min-width: 375px) {
}
/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 512px) {
  .p-x-165 {
    padding: 10px 0;
  }
  header .head-links a:last-of-type {
    margin-left: 0;
    display: block;
  }
  nav .nav-logo {
    width: 150px;
  }
  .rent-form {
    text-align: center;
  }
  [type="date"] {
    width: 100%;
  }
  .offers {
    margin-top: 120px;
  }
  .corporate-car .corporate {
    background-size: cover;
  }
  .corporate-car .corporate .tabs {
    /* display: none; */
  }

  .corporate-car .corporate .info button {
    width: 90%;
  }
  .pickup label::after {
    display: none;
  }
  .pay-icon {
    margin: 10px;
  }
  .join-form {
    padding: 16px;
  }
}

/* Small devices (landscape phones, less than 768px)*/
@media (min-width: 767.98px) {
}

/* Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {
  #section10 a {
    display: none;
  }
  .p-x-165 {
    padding: 10px;
  }
  .group-btns {
    display: none;
  }
  .mobile-show {
    display: flex !important;
  }
  .rent-form {
    padding: 30px 20px;
    width: 100%;
  }
  .rent-now .img-box {
    position: static;
  }
  .box-checkout .box1 {
    width: 100%;
    margin-left: unset;
  }
  .box-checkout .box1::after,
  .box-checkout .box1::before {
    display: none;
  }
  .offers {
    text-align: center;
  }
  .limousine-car .limousine-features .features-box {
    justify-content: center;
  }
  .customer-feedback .customer-review li:nth-child(even) {
    margin-left: 0;
  }
  footer {
    padding: 50px 10px !important;
  }
  .corporate-car .corporate .tabs {
    left: 0;
    right: 0;
    top: 200px;
  }
  .corporate-car .corporate .tabs ul {
    width: 100%;
    flex-direction: column;
  }
  [type="date"] {
    width: 100%;
  }
  .date-box {
    margin: 16px 10px;
  }
  .small-txt {
    width: 50%;
  }
  .packages .packages-box {
    justify-content: center;
  }
  .faqs-info ul li a.active::after {
    display: none;
  }
  .btn-subscribe {
    left: 0;
  }
}

@media (min-width: 1024px) and (max-width: 1750px) {
  .p-x-165 {
    padding-left: 20px;
    padding-right: 20px;
  }
  .rent-form {
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
  }
  .limousine-car .limousine-features .feature {
    width: 240px;
  }
}
